<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mk.tjbnew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.QYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tjbzs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.AppGuideActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.VisionMainActivity"></activity>
        <activity android:name=".activity.vision.MainActivity"
            android:label="视力检查"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>